.sphere {
    fill: none;
    stroke: #000;
    stroke-width: 5px;
}

.ocean {
}

.coastlines {
}

.countries {
}

.states_provinces {
    fill: none;
    stroke: #9933FF;
    stroke-width: .5px;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.line {
    fill: none;  
    stroke-opacity: .8;  
    stroke-dasharray: 3,2;  
    stroke-width: 10px;
    stroke: #f44;  
}

.point {
    fill: rgb(255, 0, 0);  
}


