.container {
    width: 100%;
    height: 2000px;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}

.code-div {
    float: left;
    width: 30%;
    height: 100%;
}

.plot-div {
    float: left;
    width: 70%;
    height: 100%;
}
